*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary: #212121;
  --white: #FFFFFF;
  --light: #E7E7E7;
  --stantardPadding: 20px;
}

h1{
  font-size: 32px;
  font-family: Lato;
  font-weight: 700;
}

h2{
  font-size: 20px;
  font-family: Lato;
  font-weight: 800;
  text-align: center;
  z-index: 2;
}

h3{
  font-size: 24px;
  font-family: Lato;
  font-weight: 600;
}

h4{
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

p{
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  color: var(--primary);
  display: inline;
}

.mainContent{
  padding: var(--stantardPadding);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

/*
section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}
*/
li{
  list-style-type: none;
  margin: 0;
}

a{
  text-decoration: none;
}

button, input[type=submit] {
  padding: 5px 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border-radius: 10px; 
  white-space: nowrap
}

.button-primary{
  color: var(--white);
  background-color: var(--primary);
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
  
}

.button-secondary{
  color: var(--primary);
  background-color: var(--white);
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-color: var(--primary);
  border-width: 2px;
}

.button-terciary{
  color: var(--primary);
  background: none;
  border-style: none;

  text-decoration-line: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
}

html{
  height: 100vh;
}

body{
  height: 100%;
  overflow: hidden;
}

#root{
  height: 100%;
}

input[type=text]{
  font-size: 16px;
  font-family: Lato;
  font-weight: 400;
  color: var(--primary);
  padding: 5px 7px;
  background: var(--light);
  border-radius: 5px;
  border-style: none;
}

.button-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  bottom: 0px;
}

.event-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  align-items: stretch;
  gap: 10px;
}


li{
  display: flex;
  justify-content: flex-start;
  border-style: none none solid none; 
  border-color: var(--light);
  border-width: 0.5px;
  padding: 10px 0 10px 0;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

label{
  flex-grow: 1;
}

input{
  accent-color: var(--primary);
  /*width: 100%; porque da problema quando o input é um submit*/
}

.fill-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.tab-navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 10px;
}

.horizontal-form{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  gap: 5px;
  align-items: stretch;
}