.poolTable{
    width: fit-content;
    border-collapse: collapse;
    display: flex;
    padding: 0;
    overflow: clip;
}

.tableCell{
    border: 1px solid var(--grey);
    width: fit-content;
    padding: 12px;
    background: var(--white);
    background-clip: padding-box;
    max-width: 8rem;
}

.rowNumber {
    margin-right: 1rem;
    font-size: 0.8rem;
}

.tableCellTop{
    border-top: none;
}

.tableCellLeft{
    border-left: none;
    position: sticky;
    left: 0;
    outline: 1px solid var(--grey);
    text-align: left;
    overflow-wrap: anywhere;
}

.tableCellBottom{
    border-bottom: none;
}

.emptyCell {
    background: var(--grey);
}

.separationColumnHeader{
    padding: 0 0.5rem;
}

.poolTableScrollContainer {
    width: 100%;
    overflow-x: scroll;
    padding: 0;
}