.poolTable{
    width: fit-content;
    border-collapse: collapse;
    display: flex;
    padding: 0;
    overflow: clip;
}

.tableCell{
    border: 1px solid var(--grey);
    width: fit-content;
    padding: 12px;
}

.rowNumber {
    margin-right: 1rem;
    font-size: 0.8rem;
}

.cellNumber {
    width: 100%;
    text-align: right;
}

.tableCellTop{
    border-top: none;
}

.tableCellLeft{
    border-left: none;
}

.tableCellBottom{
    border-bottom: none;
}

.emptyCell {
    background: var(--grey);
}

.separationColumnHeader{
    padding: 0 0.5rem;
}